.element{
    
    width: 500px;
}
.element-1{
    font-size: 200px;
    background-color: red;
}
.element-2{
    font-size: 200px;
    background-color: red;
}
.element-3{
    font-size: 200px;
    background-color: red;
}
.element-4{
    font-size: 200px;
    background-color: red;
}
.element-5{
    font-size: 200px;
    background-color: red;
}

.holder{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Your CSS Code here. */